<div class="title"><h1>Listing users</h1></div>

<table>
  <thead>
    <tr width = "100%">
   <!--    <th width = "25%">First name</th>
      <th width = "25%">Last name</th> -->
      <th width = "40%"> Full name</th>
      <th width = "40%">Email</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Delete All Users', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<center>
<%= link_to 'New User', new_user_path %>
</center>