<p id="notice"><%= notice %></p>
<%= @some_text %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

Showing all of <%= @user.name %>'s Boards:
<ul>
  <%= @boards.each do |board| %>
  <li><%= link_to board.name, board_path %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
